:local(.boxHeader) {
  color: white
}

:local(.boxLayout) {
  align-items: center;
  background-color: #595B59;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

:local(.boxLayoutBox) {
  background: fade-out(white, .2);
  border-radius: 3px;
  color: 333333;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  width: 25rem;
  margin-bottom: 15rem;
}

:local(.boxLayoutTitle) {
  color: 333333;
  font-size: 1.6rem;
  line-height: 1;
  margin: 0.8rem 1rem 0 1rem;
}

:local(.googleButton) {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  height: 40px;
  border-width: 0;
  background: white;
  color: black;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0 10px 10px 0;
  margin: 8px 8px 8px 8px;
  &:hover {
    cursor: pointer;
    color: #4285F4;
  }
}

:local(.googleButtonIcon) {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  padding: 0 0 10px 0;
}

:local(.buttonLayoutEmail) {
  background-color: white;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  color: black;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding: 10px 10px 10px 10px;
  margin: 8px 0px 8px 8px;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: #4285F4;
  }
}

:local(.emailButtonText__envelopeIcon) {
  color: black;
  &:hover {
    cursor: pointer;
    color: black;
  }
}

button:focus {
  outline: 0;
}
