:local(.listHeader) {
  background: white;
  border: 1px solid darken( #f7f7f7, 7%);
  color: black;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
  padding: 0.8rem 1.6rem;
  text-align: center
}

:local(.listBody) {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
}

:local(.listItemMessage) {
  color: #333333;
}

:local(.completedButton) {
  background-color: #f7f7f7;
  border: 1px solid #364051;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  margin: 1rem;
  &:hover {
    background-color: #14EB28;
  }
}

:local(.deleteButton) {
  background-color: #f7f7f7;
  border: 1px solid #364051;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  margin: .5rem;
  &:hover {
    background-color: red;
  }
}
